/* ===================== */
/* Navbar Styles          */
/* ===================== */

.navbar {
  background-color: #e9d9c107; /* Fondo translúcido */
  transition: background-color 0.3s ease; /* Transición suave del fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  position: fixed; /* Navbar fija en la parte superior */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la página */
  z-index: 1000; /* Se asegura de que la navbar esté sobre otros elementos */
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaciado entre elementos en la navbar */
}

.navbar-brand {
  display: flex;
  align-items: center; /* Alinea el logo con el texto */
}

.navbar-logo {
  height: 90px; /* Altura del logo */
  width: auto; /* Mantiene la proporción del logo */
}

.navbar a {
  color: #ebd7b9; /* Color del texto */
  font-weight: bolder; /* Negrita */
  margin-left: 20px; /* Espacio entre enlaces */
  font-style: normal;
  font-size: 15px;
  font-family: 'Plus Jakarta Sans'; /* Fuente del texto */
}

.navbar a:hover {
  color: #f5f6f7; /* Color del texto al pasar el mouse */
}

/* Estilo de la navbar al hacer scroll */
.navbar.scrolled {
  background-color: #E9D9C1; /* Color de fondo al hacer scroll */
}

.navbar.scrolled a:hover {
  color: #B26E25; /* Color del texto al pasar el mouse después del scroll */
}

.navbar.scrolled .navbar-logo {
  height: 60px; /* Tamaño del logo al hacer scroll */
}

.navbar.scrolled a {
  color: #2E1F15; /* Color del texto después del scroll */
}

/* Responsive Adjustments for Navbar */
@media (max-width: 768px) {
  .navbar-logo {
    height: 50px; /* Tamaño del logo en pantallas pequeñas */
  }


}

/* ===================== */
/* Banner Styles          */
/* ===================== */

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.352), rgba(0, 0, 0, 0.5)), url('https://i.postimg.cc/Wb7cNS1y/copia.jpg') center no-repeat;
  background-size: cover; /* La imagen de fondo cubre todo el banner */
  height: 95vh; /* Altura del banner */
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px; /* Espacio superior para ajustar debajo de la navbar */
  font-family: 'Bw Modelica SS01', sans-serif; /* Fuente del banner */
  background-attachment: fixed; /* Hace que la imagen del banner quede fija */
}

.banner h1 {
  font-size: 4rem; /* Tamaño del título en el banner */
  font-family: 'Bw Modelica SS01', sans-serif;
}

.banner p {
  font-size: 1.5rem; /* Tamaño del texto en el banner */
}

.banner .btn {
  font-size: 1.25rem; /* Tamaño del botón */
  background: linear-gradient(45deg, #ffffff, #cccccc); 
  border: none;
  border-radius: 30px; /* Bordes redondeados del botón */
  padding: 12px 30px;
  color: #333; /* Color del texto en el botón */
  text-transform: uppercase;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra del botón */
  transition: all 0.3s ease; /* Transición suave del botón */
}
/* ===================== */
/* Service Cards Styles   */
/* ===================== */

/* ===================== */
/* Service Cards Styles   */
/* ===================== */

.services .card {
  transition: transform 0.3s ease; /* Transición suave en hover */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  height: 300px; /* Altura fija para el contenedor */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.services .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.services .card:hover {
  transform: translateY(-10px); /* Efecto de elevación en hover */
}


/* ===================== */
/* Section Titles         */
/* ===================== */

.section-title {
  padding-top: 100px; /* Espacio superior para el título de la sección */
}




/* ===================== */
/* Carousel Styles        */
/* ===================== */

.carousel {
  overflow: hidden; /* Oculta cualquier contenido desbordado */
  border-radius: 10px; /* Bordes redondeados en el carrusel */
}

.carousel-item {
  height: 300px; /* Altura específica para las imágenes del carrusel */
}

.carousel-item img {
  height: 100%; /* La imagen ocupa toda la altura del contenedor */
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio */
}

/* ===================== */
/* Card Styles            */
/* ===================== */

.card {
  border: none;
  overflow: hidden;
  border-radius: 10px; /* Bordes redondeados de las tarjetas */
}

.card-img {
  object-fit: cover; /* La imagen se ajusta dentro del contenedor */
  height: 100%;
  width: 100%;
  filter: brightness(70%); /* Oscurece la imagen para resaltar el texto */
  transition: transform 0.3s ease, filter 0.3s ease; /* Transiciones suaves */
}

.card:hover .card-img {
  transform: scale(1.05); /* Efecto de escala en hover */
  filter: brightness(50%); /* Imagen más oscura en hover */
}

.card-title, .card-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto en las tarjetas */
}

/* ===================== */
/* Footer Styles          */
/* ===================== */

footer {
  background-color: #333; /* Fondo oscuro para el footer */
  color: #fff; /* Texto blanco en el footer */
  font-family: 'Plus Jakarta Sans'; /* Fuente del footer */
}

footer a {
  text-decoration: none; /* Sin subrayado en los enlaces */
}

/* ===================== */
/* Responsive Adjustments */
/* ===================== */

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2.5rem; /* Tamaño del título del banner en pantallas pequeñas */
  }

  .banner p {
    font-size: 1.2rem; /* Tamaño del texto del banner en pantallas pequeñas */
  }

  #banner {
    padding-top: 80px; /* Ajuste de padding para pantallas pequeñas */
    min-height: 60vh; /* Altura mínima del banner en pantallas pequeñas */
  }

  .navbar {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo más opaco para legibilidad */
  }
}

/* ===================== */
/* Galería Styles         */
/* ===================== */

/* Título alineado a la izquierda */
h2.text-left {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Descripción debajo del título */
p.text-left {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 30px;
  color: #555; /* Color gris para el texto descriptivo */
}

/* Contenedor de imágenes */
.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Bordes redondeados de las imágenes */
}

/* Tamaño de las imágenes ajustado */
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Overlay de texto */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); /* Fondo oscuro translúcido para el overlay */
  color: white;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transform: translateY(100%);
}

.image-container:hover .overlay {
  opacity: 1; /* Overlay visible en hover */
  transform: translateY(0); /* Movimiento del overlay en hover */
}

/* Estilo del texto en la superposición */
.overlay h5 {
  margin-bottom: 10px;
  font-size: 18px; /* Tamaño del título en el overlay */
}



/* Espaciado entre imágenes */
.col-md-3 {
  padding-right: 15px;
  padding-left: 15px;
}


/* Separacion*/

.section-title{
  padding-top: 8vh;
  padding-bottom: 15px;
  
}

.Event{
  padding-top: 6vh;
  padding-bottom: 8vh;
}

.galery{
  padding-bottom: 8vh;
}

/* Publicity Container Styles */
/* Publicity Container Styles */
.publicity-container {
  overflow: hidden; /* Oculta las imágenes que están fuera del contenedor */
  background-color: #f9f9f9; /* Fondo claro para resaltar las imágenes */
  border-top: 1px solid #ddd; /* Línea sutil en la parte superior */
  border-bottom: 1px solid #ddd; /* Línea sutil en la parte inferior */
  padding: 20px 0; /* Espacio superior e inferior alrededor de las imágenes */
  
}

.publicity-track {
  display: flex; /* Alinea las imágenes en una fila */
  gap: 20px; /* Espacio entre las imágenes */
  animation: scroll 20s linear infinite; /* Animación continua */
  white-space: nowrap; /* Evita el salto de línea */
}

.publicity-item {
  display: flex;                /* Utiliza Flexbox para centrar */
  flex: 0 0 auto; /* No permite que los elementos se redimensionen */
  max-width: 100px; /* Ancho máximo de cada imagen */
  justify-content: center;      /* Centra horizontalmente */
  align-items: center;          /* Centra verticalmente */
}



.publicity-img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 100%;              /* Asegura que la imagen no exceda el ancho del div */
  max-height: 100%;             /* Asegura que la imagen no exceda la altura del div */
  border-radius: 10px; /* Bordes redondeados para las imágenes */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse ni distorsionarse */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Posición inicial */
  }
  100% {
    transform: translateX(-50%); /* Desplazamiento completo hacia la izquierda */
  }
}



/* ===================== */
/* Lugar turistico         */
/* ===================== */

/* Estilo general para la sección */
.text-image-section {
  background-color: #f8f9fa; /* Color de fondo suave */
  padding: 60px 0; /* Espaciado superior e inferior */
}

/* Contenedor de la fila */
.text-image-section .row {
  align-items: center; /* Alinea verticalmente el contenido en la fila */
}

/* Texto Turístico */
.text-image-section .col-md-6 {
  margin-bottom: 1.5rem; /* Espaciado inferior en pantallas grandes */
}

/* Estilo para el texto */
.text-image-section .section-title {
  font-size: 2rem; /* Tamaño de fuente del título */
  font-weight: 700; /* Negrita */
  margin-bottom: 1rem; /* Espaciado inferior */
  color: #343a40; /* Color del texto */
}

.text-image-section p {
  font-size: 1rem; /* Tamaño de fuente del párrafo */
  line-height: 1.6; /* Altura de línea para mejor legibilidad */
  color: #6c757d; /* Color del texto */
}

/* Contenedor de la imagen */
.text-image-section .imagencontainer {
  display: flex;
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
  width: 50%; /* Contenedor ocupa el 100% del ancho disponible */
  max-width: 530px; /* Tamaño máximo del contenedor */
  max-height: 350px;
  background-color: #fff; /* Fondo blanco para el contenedor de la imagen */
  margin-left: 6rem; /* Espaciado a la izquierda del contenedor de la imagen */
}


img{
  background-size: cover; 
}
/* Imagen dentro del contenedor */
.text-image-section .imagencontainer img {
  width: 100%; /* La imagen se ajusta al ancho del contenedor */
  height: auto; /* La altura se ajusta para mantener la proporción */
  object-fit: cover; /* Mantiene la proporción y cubre el contenedor sin distorsionar */
  position: center;
  
}

/* Estilo para el texto y la imagen en pantallas pequeñas */
@media (max-width: 767.98px) {
  .text-image-section .row {
    flex-direction: column; /* Pone el texto y la imagen en una columna en pantallas pequeñas */
    text-align: center; /* Alinear texto e imagen al centro */
  }

  .text-image-section .col-md-6 {
    margin-bottom: 1.5rem; /* Espaciado inferior en pantallas pequeñas */
  }

  .text-image-section .imagencontainer {
    max-width: 100%; /* Tamaño máximo del contenedor en pantallas pequeñas */
    margin-left: 0; /* Quita el espaciado a la izquierda en pantallas pequeñas */
    width: auto; /* Ajuste automático en pantallas pequeñas */
  }

  .text-image-section .imagencontainer img {
    width: 100%; /* Imagen ocupa el ancho completo del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
}
