/* Banner Styles */
.banner {
    background: url('https://via.placeholder.com/1920x800') no-repeat center center;
    background-size: cover;
    height: 80vh; /* Ajusta la altura del banner */
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner h1 {
    font-size: 4rem; /* Tamaño de fuente grande para el título */
  }
  
  .banner p {
    font-size: 1.5rem; /* Tamaño de fuente grande para el texto */
  }
  
  .banner .btn {
    font-size: 1.25rem; /* Tamaño de fuente para el botón */
  }
  
  
  /* Service Cards */
  .services .card {
    transition: transform 0.3s ease;
  }
  
  .services .card:hover {
    transform: translateY(-10px);
  }
  
  /* Events Section Styles */
  .events .card img {
    height: 200px;
    object-fit: cover;
  }
  
  /* Footer Styles */
  footer {
    background-color: #333;
    color: #fff;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .banner h1 {
      font-size: 2.5rem;
    }
  
    .banner p {
      font-size: 1.2rem;
    }
  }
  
  .card {
    border: none;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .card-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(70%); /* Oscurece la imagen para resaltar el texto */
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .card:hover .card-img {
    transform: scale(1.05);
    filter: brightness(50%);
  }
  
  .card-title, .card-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  
  .sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(52, 58, 64, 0.8); /* Un color más oscuro y translúcido */
    color: #ffffff;
    text-align: center;
    padding: 5px 10px; /* Padding reducido */
    font-size: 0.9rem; /* Fuente más pequeña */
    z-index: 1000;
    border-top: 1px solid #e9ecef; /* Borde sutil para separación */
  }
  
  .sticky-footer p {
    margin: 0;
  }
  
  