
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img routerLink="/home" src="https://i.postimg.cc/3RsQNJVr/removal-ai-b1447e86-8ecf-4080-862d-9347a4c8824e-piedra-del-aguila.png" alt="Logo" class="navbar-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/atracciones">DONDE IR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/restaurantes">DONDE COMER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/alojamientos">DONDE DORMIR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/noticias">NOTICIAS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

 <!-- Banner Section -->
<section class="banner text-center text-white d-flex align-items-center justify-content-center">

  <div class="container">
    <h1 class="display-4">ALOJAMIENTOS</h1>
  </div>
</section>

  <!-- Main Content -->
  <main class="container my-5" >

      <section class="featured-restaurants my-5">
          <div class="container">
              <div class="row align-items-center" >
                  <!-- Columna para la estrella -->
                  <div class="icono col-md-4 d-flex align-items-center justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 48 48"><g fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M8 12a3 3 0 0 1 3-3h26a3 3 0 0 1 3 3v11H8zM6 35v4m36-4v4"/><path d="M20 18h-6a3 3 0 0 0-3 3v2h12v-2a3 3 0 0 0-3-3m14 0h-6a3 3 0 0 0-3 3v2h12v-2a3 3 0 0 0-3-3M4 26a3 3 0 0 1 3-3h34a3 3 0 0 1 3 3v9H4z"/></g></svg>
                  </div>
                  <!-- Columna para el título y la descripción -->
                  <div class="col-md-8">
                      <h2 class="text-left mb-2">Alojamientos destacados</h2>
                      <p class="title-description">Descubre una selección de alojamientos recomendados en Piedra del Aguila, ideales para disfrutar de una estancia cómoda y memorable.</p>
                  </div>
              </div>
              <div class="row">
                  <!-- Primer Restaurante Destacado -->
                  <div class="col-md-4 mb-4">
                      <div class="card h-100 shadow-sm">
                          <img src="https://i.postimg.cc/QCm5KMYw/Captura-de-pantalla-2024-08-31-150157.png" class="card-img-top" alt="Nombre del Restaurante">
                          <div class="card-body">
                              <h5 class="card-title">Cuyen Nuque</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-4">
                      <div class="card h-100 shadow-sm">
                          <img src="https://i.postimg.cc/rw34r3gV/2022-02-02.jpg" class="card-img-top" alt="Nombre del Restaurante">
                          <div class="card-body">
                              <h5 class="card-title">Hotel Rasur</h5>
                          </div>
                      </div>
                  </div>
                  <!-- Puedes agregar más cards aquí -->
              </div>
          </div>
      </section>
      
      
      
      


      <section class="map container-fluid">
          <h1 class="title-map">Hoteles y Alojamientos en el mapa</h1>
          <p class="map-description">Explora nuestra selección de Alojamientos en Piedra del Águila utilizando el mapa interactivo. Haz clic en los marcadores para obtener más información sobre cada lugar.</p>
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1LWGWS81US7cIdqgF47dG9tDc4adXeBU&ehbc=2E312F&noprof=1" width="200%" height="480"></iframe>
      </section>

  </main>

 



<!-- Footer Section -->
<footer class="foot bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Columna 1: Seguinos -->
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
        <h5 class="mb-3">SEGUINOS</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/munidepiedra" class="text-white">Facebook</a></li>
          <li><a href="#" class="text-white">Instagram</a></li>
        </ul>
      </div>
      <!-- Columna 2: Contacto -->
      <div class="col-md-6 text-center text-md-start">
        <h5 class="mb-3">CONTACTO</h5>
        <p class="mb-1">Municipalidad de Piedra del Aguila</p>
        <p class="mb-1">Las Bardas 55 CP (8315)</p>
        <p class="mb-1">Secretaría de Turismo de Piedra del Águila, (02942) 493456</p>
      </div>
    </div>
  </div>
</footer>





