<body>
    <!-- Fondo con imagen negra -->
    <div class="auth-bg">
        <!-- Botón de "Volver al sitio web" -->
        <a class="back-button" routerLink="/home">
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="16" stroke-dashoffset="16" d="M19 12h-13.5"><animate fill="freeze" attributeName="stroke-dashoffset" dur="1s" values="16;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M5 12l5 5M5 12l5 -5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1s" dur="1s" values="12;0"/></path></g></svg>Volver al sitio web
        </a>
        <!-- Formulario de Inicio de Sesión -->
        <div class="auth-container">
            <div class="icono">
                <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" viewBox="0 0 24 24"><path fill="white" d="M12 14v8H4a8 8 0 0 1 8-8m0-1c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m9 4h1v5h-8v-5h1v-1a3 3 0 1 1 6 0zm-2 0v-1a1 1 0 1 0-2 0v1z"/></svg>
            </div>
            <form class="auth-form" id="login-form">
                <div class="form-group mb-3">
                    <label for="login-email">Correo Electrónico</label>
                    <input type="email" id="login-email" class="form-control" placeholder="Ingrese su correo electrónico" required>
                </div>
                <div class="form-group mb-3">
                    <label for="login-password">Contraseña</label>
                    <input type="password" id="login-password" class="form-control" placeholder="Ingrese su contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>
