<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand" href="#">
              <img routerLink="/home" src="https://i.postimg.cc/3RsQNJVr/removal-ai-b1447e86-8ecf-4080-862d-9347a4c8824e-piedra-del-aguila.png" alt="Logo" class="navbar-logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/home">INICIO</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/atracciones">DONDE IR</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/restaurantes">DONDE COMER</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/alojamientos">DONDE DORMIR</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/noticias">NOTICIAS</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Banner Section -->
  <section class="banner text-center text-white d-flex align-items-center justify-content-center">
      <div class="container">
        <h1>LAGOS</h1>
      </div>
  </section>

  <section class="section-image container py-5">
    <div class="row">
      <!-- Div del lado izquierdo -->
      <div class="col-md-6 d-flex flex-column align-items-start">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicadores -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
        
          <!-- Contenido del carrusel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://i.postimg.cc/tJM1701k/kumelkayen.jpg" class="d-block w-100" alt="Imagen 1">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/4NY7q3MS/317941206-460155632943357-4304917848243371833-n.jpg" class="d-block w-100" alt="Imagen 2">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/Qxv933Zx/398701309-655238116768440-3327754991443338756-n.jpg" class="d-block w-100" alt="Imagen 3">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/pXVy8JK8/82921650-2463883253874774-3435213868106776576-n.jpg" class="d-block w-100" alt="Imagen 4">
            </div>
            <div class="carousel-item">
              <img src="https://i.postimg.cc/50qNQX0n/10805752-826611490730697-4677839525904419970-n.jpg" class="d-block w-100" alt="Imagen 5">
            </div>
          </div>
        
          <!-- Controles de navegación -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
        
      </div>
  
      <!-- Div del lado derecho -->
      <div class="col-md-6 d-flex flex-column align-items-start">
        <h2 class="title-place mb-3">Balneario Kumelkayen</h2>
        <p>
          El Balneario Kumelkayen, ubicado a 5 km de Piedra del Águila, Neuquén, es un atractivo turístico ideal para disfrutar del relax y actividades al aire libre. Se encuentra a orillas del perilago del embalse Pichi Picún Leufú y cuenta con una costanera iluminada de 250 metros.
        </p>
        <section class="activities py-4">
          <div class="container text-left">
            <h2 class="actividades-t mb-4">Actividades para disfrutar</h2>
            <div class="d-flex justify-content-center flex-wrap">
              <!-- Pesca -->
              <div class="activity-item">
                <i class="fas fa-fish"></i>
                <p class="mt-2">Pesca</p>
              </div>
              <!-- Senderismo -->
              <div class="activity-item">
                <i class="fas fa-hiking"></i>
                <p class="mt-2">Senderismo</p>
              </div>
              <!-- Paseos en Barco -->
              <div class="activity-item">
                <i class="fas fa-ship"></i>
                <p class="mt-2">Kayak</p>
              </div>
              <!-- Camping -->
              <div class="activity-item">
                <i class="fas fa-campground"></i>
                <p class="mt-2">Camping</p>
              </div>
              <!-- Ciclismo -->
              <div class="activity-item">
                <i class="fas fa-bicycle"></i>
                <p class="mt-2">Ciclismo</p>
              </div>
              <!-- Picnics -->
              <div class="activity-item">
                <i class="fas fa-tree"></i>
                <p class="mt-2">Picnic</p>
              </div>
            </div>
          </div>
        </section>
        <a href="https://www.google.com/maps/dir//CAMPING+DEL+PERILAGO,+Piedra+del+%C3%81guila,+Neuqu%C3%A9n/@-40.0490496,-70.0809216,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x960e49b804e0360d:0x9ed884fbd46d740e!2m2!1d-70.025854!2d-40.051761?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" class="btn-long" target="_blank" rel="noopener noreferrer">
          Visitar <span class="icon"><i class="fas fa-car"></i></span>
        </a>        

      </div>
      
    </div>
  </section>

  
  
  <section class="map-section py-5">
    <div class="container">
      <h2 class="text-center mb-4">Ubicación</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2741.9373725769653!2d-70.02615127664696!3d-40.05160807930024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960e49b804e0360d%3A0x9ed884fbd46d740e!2sCamping%20del%20Perilago!5e0!3m2!1ses-419!2sar!4v1696615769872!5m2!1ses-419!2sar"
        width="100%"
        height="400"
        style="border: 0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>
  
  
  


  
  <!-- Footer Section -->
  <footer class="foot bg-dark text-white py-4">
      <div class="container">
          <div class="row">
              <!-- Columna 1: Seguinos -->
              <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
                  <h5 class="mb-3">SEGUINOS</h5>
                  <ul class="list-unstyled">
                      <li><a href="https://www.facebook.com/munidepiedra" class="text-white">Facebook</a></li>
                      <li><a href="#" class="text-white">Instagram</a></li>
                  </ul>
              </div>
              <!-- Columna 2: Contacto -->
              <div class="col-md-6 text-center text-md-start">
                  <h5 class="mb-3">CONTACTO</h5>
                  <p class="mb-1">Municipalidad de Piedra del Aguila</p>
                  <p class="mb-1">Las Bardas 55 CP (8315)</p>
                  <p class="mb-1">Secretaría de Turismo de Piedra del Águila, (02942) 493456</p>
              </div>
          </div>
      </div>
  </footer>
</body>